#programing_quiz{
  margin: 3px;
  border: 3px solid gray;
  border-radius: 4px;
  padding: 5px;
  background: linear-gradient( #ee7752, #e73c7e, #23a6d5);
    background-size: 100%;
    animation: gradient;
  display: none
}
#language_1 {
  display: none
}
#language_2 {
  display: none
}
#language_3 {
  display: none
}
.card{
  margin: 3px;
  border: 3px solid gray;
  border-radius: 4px;
  padding: 5px;
  width: auto;
}
.jumbotron{
 background: linear-gradient( #ee7752, #e73c7e, #23a6d5);
    background-size: 100%;
    animation: gradient 5s infinite;
}